*{margin:0; padding:0;}


body{
	background:url(../imagenes/font.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	

}
@font-face {
	font-family:CaviarDreams_Italic;
	src: url(../fuentes/CaviarDreams_Italic.ttf);
	
}

header{
	width:100%;
	overflow:hidden; 
background: #24282b;
	margin-bottom:20px;
	position: fixed;
	border-bottom: 5px solid #1293dd;
	z-index: 5;

}
.wrapper{
	width:90%;
	max-width:1000px;
	margin:auto; 
    overflow:hidden;

}

div.logo{
	color:#f2f2f2;
	font-size:50px;
    line-height:200px;
    float:left;

}
div.logo img {
	width:75%;
	height:100px;


}
header nav {
	float:right;
	line-height:200px;

}
header nav a {
	display:inline-block;
	color:white;
	text-decoration:none;
	padding: 10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
		font-family:CaviarDreams_Italic;

}
header nav a img{
	float:left;
	margin-right: 0.5em;
	height: 37px;
	widows: 30px;

}
 header nav a:hover {
 	background:#1293dd;
 	border-radius:30px;

 }

 .header2 {
 	position:fixed;
 	height:100px; 
 }
 .header2 .logo{
 	line-height:100px;
 	font-size:30px;

 }
 .header2 nav {
 	line-height:100px;
 }

.contenido  p{

	position:relative;
	background:#d8d8d8;
	padding: 0.5em;
	margin-bottom:50px;
	text-align:left;
	border-radius:5px;
	margin: 20px; 
	bottom: -20px;

}


div.contenedor{
	position:relative; 
	background: #24282b;
	margin:150px 0px;
	opacity: 0.8;
	border-radius: 0.5em;
	overflow: hidden;


    

}
footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;
		font-family:CaviarDreams_Italic;
}

@media screen and  (max-width: 950px){
	header .logo,
	header nav {
		width:100%;	
		text-align:center;
		line-height:100px;


	}

	.header2{
		height:auto;
	}

	.header2 .logo 
	.header2 nav {
		line-height:50px; 

	}


}
  p {
	font-family:CaviarDreams_Italic;
	  font-size:20px;
	  font-weight: normal;
	  z-index: 5;
	  
  }
	  
  

 div#contenido img{
	 width:300px;
	 height: 300px;
	 opacity: 0.8;

 }
 
  #tabla{
	  position: center;
	  background: #f2f2f2;
	  



  }
#clase {

	background:#d8d8d8;
}
 img{
	 border-radius: 0.5em ;
	
 }
 div.imagen{
	 position: relative;
 }

 .contenido-imagen {
	position:relative;
	font-family:CaviarDreams_Italic;
	text-align: justify;
	font-size:20px;
	background:#d8d8d8;
	border: 4px solid #1293dd;
	border-radius:5px;
	padding: 0.5em;
	margin-bottom:50px;
	margin: 20px; 
	bottom: -20px;
 }

  
 #logo {
	 position: absolute;
     top:50px;

 }
 

 