body{width:100%;}
body{
	font: 15px Arial, Melvetica, sans-serif;
	padding: 0;
	margin: 0;
	background: url(../img/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;

}

/* Estilos globales */


.contenedor{
	width: 90%;
	margin: auto;
	overflow: hidden;

}

ul{
	margin: 0;
	padding: 0;
}


/*Encabezado*/
header{
	background: #24282b;
	width: 100%;
	border-bottom: 5px solid #1293dd;



}

header a{
	color: #fff;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;

}


header li{
	float: right;
	display: inline;
	padding: 0 20px 0 20px;
}

header #marca{
	background:#fff;
	border-radius: 60px 60px 60px 60px;
	height: 35%;
	width: 35%;

}

 #marca img{
margin:0px 20%;
height: 100%;
width: 70%; 
 margin-left: auto;
  margin-right: auto;

}

header nav{
	float: right;
	margin-top: 10px; 
}


header .resaltado, header .actual a{
	color: #1293d4;
	font-weight: bold;
		
}


header a:hover{
color: #ccc;
font-weight: bold;
}

#boletin h1{
	float: center;
	font-weight: bold;
	color: #D0D3D4;
	font-size: 40px;
		font-family:CaviarDreams_Italic;
}


footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #1293d4;
	text-align: center;
		font-family:CaviarDreams_Italic;
}

@font-face {
	font-family:CaviarDreams_Italic;
	src: url(../fuentes/CaviarDreams_Italic.ttf);
}



.cajitas{
	width: 1200px;
	height: 550px;
	margin: auto;
	background: #24282b;
	border-radius: 30px;
	
}

.cajitas .box{
	position: relative;
	width: calc(400px - 30px);
	height: calc(410px - 41px);
	background: #ABB2B9;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.cajitas .box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(44, 62, 80);
	transition: 0.5s;
	z-index: 1;
}

.cajitas .box:hover .icon{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.cajitas .box .icon .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	color: #fff;
	
}

.cajitas .box:hover .icon .fa{
	font-size: 40px;
}

.cajitas .box .titulo{
	position: absolute;
	top: 100px;
	height: calc(100% - 100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}

.cajitas .box:hover .titulo{
	top: 100px;
	opacity: 1;
}

.cajitas .box .titulo h3{
	margin:0 0 10px;
	padding: 0;
	font-size:25px;
	color: #17202A;
		font-family:CaviarDreams_Italic;
}

.cajitas .box .titulo p{
	margin:0;
	padding: 0;
	color: #17202A;
	text-align: justify;
	font-family: Courgette;
	font-size: 22px;
	font-weight: bold;
		font-family:CaviarDreams_Italic;
}

nav {
	float:center;
	line-height:200px;

}
nav a {
	color:white;
	text-decoration:none;
	padding: 10px 20px;
	line-height:normal;
	font-size:40px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-family:CaviarDreams_Italic;
}
nav a:hover {
 	background:rgb(44, 62, 80);
 	border-radius:50px;


 }
 @media screen and  (max-width: 1150px){
	header .logo,
	header nav .cajitas .box {
		width:100%;	
		text-align:center;
		line-height:100px;


	}

